* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

.wrapper {
    min-height: 100%;
}

ul {
    margin: 0;
    padding: 0;
}

ul>li {
    list-style: none;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.hero {}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0px;
}

.logo {}

.logo__img {}

.nav {}

.nav__list {}

.nav__item {}

.nav__link {}

.btn {}

.content {}

.content__desc {}

.content__headline {}

.title {}

.content__text {}